<?php

$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->get('Magento\Customer\Model\Session');
$limiteCredito = '0';
$limiteUtilizado = '0';
$limiteDisponivel = '0';

if ($customerSession->isLoggedIn()) {
    $customer = $customerSession->getCustomer();
    $limiteCredito = $customer->getData('limite_credito');
    $limiteUtilizado = $customer->getData('limite_utilizado');
    $limiteDisponivel = $customer->getData('limite_disponivel');
}

?>
<div class="sidebar sidebar-main" style="width: 100%">
    <div class="block account-nav">
        <div class="content account-nav-content">
            <ul class="nav items">
                <li class="nav item current"><strong style="font-size: 18px">Consulta de crédito</strong></li>
                <li class="nav item">
                    <span class="delimiter"></span>
                </li>
                <li class="nav item current"><strong>LIMITE DE CRÉDITO: </strong><span>R$ <?php echo number_format($limiteCredito,2,',','.') ?></span></li>
                <li class="nav item current"><strong>CRÉDITO GASTO: </strong><span>R$ <?php echo number_format($limiteUtilizado,2,',','.') ?></span></li>
                <li class="nav item current"><strong>CRÉDITO DISPONIVEL: </strong><span>R$ <?php echo number_format($limiteDisponivel,2,',','.') ?></span></li>
            </ul>
        </div>
    </div>
</div>
